body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.spiegami {
  font-family: 'Permanent Marker', cursive !important;
}

.logo {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}


h1 {
  font-weight: 300;
  font-size: 112px;
  line-height: 112px;
  margin: 0.5em 0;
}

h2 {
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  margin: 0.5em 0;
}

h3 {
  font-weight: 400;
  font-size: 45px;
  line-height: 48px;
  margin: 0.5em 0;
}

h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  margin: 0.5em 0;
}

.flat-argomenti {
  margin: 2em;
}

.home-container {
  margin-top: -64px;
  margin-bottom: -1em;
  padding: 1em;
  padding-top: calc(1em + 64px);
  padding-bottom: 2em;
}

.button-tema-wrapper {
  margin: 1em 0;
}

.container {
  margin: 1em;
  padding: 0;
  min-height: calc(100vh - 444px);
  max-width: 1200px;
}

.full_column {
  margin-bottom: 1em;
}

.divider {
  margin-bottom: 1em;
}

.footer {
  padding: 2em 0 2em;
  background-color: rgb(33,33,33);
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 1em;
  color: rgb(166,166,166);
}

.footer a {
  color: rgb(222,222,222);
}

a.active {
  background-color: rgba(0,0,0,0.2) !important;
}
a.active.white-active {
  background-color: #fff !important;
}
a.active.grey230-active {
  background-color: rgb(230, 230, 230) !important;
}

#Spiegami {
  font-size: 15vw;
}

@media(max-width: 800px) {
  #Spiegami {
    font-size: 112px;
  }
}
@media(max-width: 650px) {
  #Spiegami {
    font-size: 88px;
  }
}
@media(max-width: 500px) {
  #Spiegami {
    font-size: 56px;
  }
  h3 {
    font-size: 32px;
  }

}

@media(min-width: 1200px) {
  .half_column {
    width: calc(50% - 0.5em);
    float: left;
  }
  .divider {
    height: 1px;
    width: 1em;
    float: left;
  }
}

@media(min-width: 1232px) {
  .container {
    margin: 1em auto;
  }
}

.text-center {
  text-align: center;
}


#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
.fb-xfbml-parse-ignore {
  display: none;
}
.fb-share {
  min-height: 28px;
}